@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

* {
  box-sizing: border-box;
}
.celaStrana {
  background: #e2dddd !important;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.iznadIIspod {
  display: flex;
  flex: 1;
  width: 100%;
}
.iznadIIspod1 {
  display: flex;
  flex: 10;
  width: 100%;
}
.login {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  border-radius: 2;
  flex: 20;
}
.horizontalno {
  display: flex;
  flex: 0.5;
  flex-direction: row;
  width: 100%;
}
.zaDugmice {
  display: flex;
  flex: 1;
  flex-direction: row;
}
h1,
h2,
h3,
h4,
h5,
h6,
label,
span {
  font-weight: 500;
  font-family: "Fira Sans", sans-serif;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all 0.3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}
@media screen and (max-width: 575px) {
  .zaDugmice {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
}
